:root {
  --color-dark: rgb(38 38 38);
  --color-dark-grey: rgb(89 89 89);
  --color-grey: rgb(191 191 191);
  --color-light-grey: rgb(242 242 242);

  --color-accent-1: rgb(193 62 101);
  --color-accent-2: rgb(255 153 64);
  --color-accent-3: rgb(255 228 82);
  --color-accent-4: rgb(102 255 196);
  --color-accent-5: rgb(0 146 158);

  --base-background-color: var(--color-light-grey);
  --base-text-color: var(--color-dark);

  --base-font-size: 16px;
  --font-family-headings: "League Gothic", sans-serif;
  --font-family-body: "Source Sans 3", sans-serif;
}

@media (min-width: 1024px) {
  :root {
    --base-font-size: 20px;
  }
}

@media (min-width: 1920px) {
  :root {
    --base-font-size: 24px;
  }
}

body {
  background-color: var(--base-background-color);
  font-size: var(--base-font-size);
  font-family: var(--font-family-body);
  color: var(--base-text-color);
}

.page {
  --content-margin: minmax(5vw, 2rem);
  --content-width: calc(100vw - (2 * var(--content-margin)));

  min-height: 100vh;
  display: grid;
  grid-template-columns:
    [grid-start]
    var(--content-margin)
    [content-start]
    auto
    [content-end]
    var(--content-margin)
    [grid-end];
}

.page__content {
  grid-column: content;
}

.page__content--is-centered {
  align-self: center;
}

.page__fullwidth {
  grid-column: grid;
}

@media (min-width: 1920px) {
  .page {
    --content-margin: 10vw;
  }
}

.hero {
  --hero-title-font-size: 7em;
  --hero-image-max-size: 600px;
  --hero-image-scale: 1.3;
  --hero-image-offset-x: 40px;
  --hero-image-offset-y: calc(var(--hero-title-font-size) / 2);

  display: grid;
  grid-template:
    "image title" 1fr
    / 0.8fr 1.2fr;
  align-items: center;
}

.hero__title {
  grid-area: title;
  justify-self: flex-start;
  font-family: var(--font-family-headings);
  font-size: var(--hero-title-font-size);
  line-height: 0.8;
  text-transform: uppercase;
}

.hero__image {
  grid-area: image;
  justify-self: flex-end;
  transform-origin: center right;
  transform: translate(var(--hero-image-offset-x), var(--hero-image-offset-y))
    scale(var(--hero-image-scale));
  max-width: var(--hero-image-max-size);
}

/* Screens where we can't display our hero and text next to eachother. */
@media (max-width: 1024px) {
  .hero {
    --hero-image-offset-x: -60px;
    --hero-image-offset-y: calc(-1 * (var(--hero-title-font-size) / 3));
    --hero-image-scale: 1;

    grid-template:
      "title" 1.2fr
      "image" 0.8fr
      / 1fr;
  }

  .hero__title {
    justify-self: center;
    align-self: flex-end;
  }

  .hero__image {
    justify-self: center;
    transform-origin: top center;
  }
}

@media (min-width: 1920px) {
  .hero {
    --hero-image-scale: 1.4;
    --hero-title-font-size: 9em;
    --hero-image-offset-y: calc(var(--hero-title-font-size) / 2);
  }
}

.about-me {
  border: 8px solid var(--color-dark);
  padding: 6em 2em;
}

.about-me__title {
  font-family: var(--font-family-headings);
  font-size: 4em;
  color: var(--color-dark);
  text-align: center;
  margin-block-end: 2rem;
}

.about-me__body {
  --min-text-width: 34ch;
  --gap-size: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-size);
  max-width: calc((2 * var(--min-text-width)) + var(--gap-size));
  margin: 0 auto;
}

.about-me__body > * {
  flex: 1 1 var(--min-text-width);
}
