.contact-me {
  --contact-me-heading-font-size: var(--font-size-headings);

  background: var(--color-dark);
  min-height: 75vh;
}

.contact-me__content {
  display: grid;
  grid-template-rows: minmax(2rem, 10%) min-content min-content minmax(2rem, 10%);
  row-gap: 3rem;
}

.contact-me__title {
  --desired-start-ratio: 0.35;
  --desired-end-ratio: 1;

  font-family: var(--font-family-headings);
  font-size: var(--contact-me-heading-font-size);
  line-height: 0.8;
  text-transform: uppercase;
  color: var(--color-light-grey);
  text-align: center;
  grid-row: 2;
}

.contact-me__details {
  --min-text-width: 34ch;
  --gap-size: 2rem;
  --arrow-width: 50px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-size);
  color: var(--color-light-grey);
  grid-row: 3;
}

.contact-me__details > * {
  flex: 1 1 calc(50% - var(--gap-size) - var(--arrow-width));
  min-width: 360px;
  margin: 0 auto;
}

.contact-me__details-title {
  text-align: right;
  font-size: 1rem;
  font-weight: normal;
  position: relative;
  align-self: flex-start;
  padding-right: var(--arrow-width);
}

.contact-me__details-title::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: var(--arrow-width);
  position: absolute;
  background: url("../assets/arrow.svg") no-repeat;
  filter: var(--color-light-grey-filter);
  background-position: 0 75%;
}

.contact-me__details-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.25rem;
}

.contact-me__details-item {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  transition: opacity ease var(--transition-speed-fast);
}

.contact-me__details-item:has(a[href]):hover {
  opacity: 0.5;
}

.contact-me__details-item::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  margin-right: 8px;
  background-size: calc(100% - 4px);
  background-repeat: no-repeat;
  background-position: 50%;
}

.contact-me__details-item--linkedin::before {
  background-image: url("../assets/linkedin.svg");
}

.contact-me__details-item--github::before {
  background-image: url("../assets/github.svg");
}

.contact-me__details-item--instagram::before {
  background-image: url("../assets/instagram.svg");
}

.contact-me__details-item-note {
  font-size: 0.75rem;
  font-style: italic;
  color: var(--color-dark-grey);
}

@media (max-width: 768px) {
  .contact-me__details {
    max-width: 40ch;
    margin: 0 auto;
  }

  .contact-me__details > * {
    text-align: center;
    min-width: 100%;
  }
}
